@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.hero-area .slick-prev, .slick-next {
    color: #F46B5B;
    background: #ffff !important;
    color: #F46B5B !important;
    box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.1);
    width: 48px !important;
    height: 48px !important;
    z-index: 9 !important;
    padding: 15px !important;
    border-radius: 8px;
}

.slick-next {
    position: absolute !important;
    right: 0;
}